<div class="movie-container">

  <div class="filter">
    <div>
      <mat-form-field>
        <input #label matInput placeholder="Search">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input #year type="number" matInput placeholder="Year">
      </mat-form-field>
    </div>
    <!-- FILTER -->
  </div>

  <div style="flex: 1">
    <div *ngFor="let movie of moviesList">
      title : {{movie.title}} | year  : {{movie.year}}
    </div>
    <!-- LIST -->
  </div>

</div>
